<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

</head>
<body>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Random Generate</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <p id="demo" class="text-center"></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const source = new EventSource("/generate");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            str = "<b>Timestamp :</b> " + data.timestamp + "<br>" +
                  "<b>Status : </b>" + data.sleep + "<br>" +
                  "<b>Speed : </b>" + data.speed + "<br>" +
                  "<b>Accelerate : </b>" + data.acc + "<br>" +
                  "<b>Brake : </b>" + data.brake + "<br>" +
                  "<b>Location : </b>" + data.loc + "<br>" +
                  "<b>Altitude : </b>" + data.alt + "<br>" +
                  "<b>Turn : </b>" + data.turn + "<br>" +
                  "<b>Steer : </b>" + data.steer
            document.getElementById("demo").innerHTML = str;
        }
    </script>
</body>
</html>