<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

</head>
<body>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Open CV</h1>
            </div>
        </div>
    </div>
<!--    <div class="row d-flex justify-content-center">-->
    <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
<!--            <img src="{{ url_for('video_feed') }}" width="50%"/>-->
            <img src="{{ url_for('video_feed') }}" width="50%"/>

        </div>
        <div class="col-md-6 d-flex justify-content-start">
<!--            <img src="{{ url_for('video_feed') }}" width="50%"/>-->
            <p id="demo"></p>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const source = new EventSource("/val_stream");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            str = "<b>Timestamp :</b> " + data.timestamp + "<br>" + "<b>Status : </b>" + data.status
            document.getElementById("demo").innerHTML = str;
        }
    </script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
<!--    &lt;!&ndash;suppress JSUnresolvedLibraryURL &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--    &lt;!&ndash;suppress JSUnresolvedLibraryURL &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>-->
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            const config = {-->
<!--                type: 'line',-->
<!--                data: {-->
<!--                    labels: [],-->
<!--                    datasets: [{-->
<!--                        label: "Random Dataset",-->
<!--                        backgroundColor: 'rgb(255, 99, 132)',-->
<!--                        borderColor: 'rgb(255, 99, 132)',-->
<!--                        data: [],-->
<!--                        fill: false,-->
<!--                    }],-->
<!--                },-->
<!--                options: {-->
<!--                    responsive: true,-->
<!--                    title: {-->
<!--                        display: true,-->
<!--                        text: 'Creating Real-Time Charts with Flask'-->
<!--                    },-->
<!--                    tooltips: {-->
<!--                        mode: 'index',-->
<!--                        intersect: false,-->
<!--                    },-->
<!--                    hover: {-->
<!--                        mode: 'nearest',-->
<!--                        intersect: true-->
<!--                    },-->
<!--                    scales: {-->
<!--                        xAxes: [{-->
<!--                            display: true,-->
<!--                            scaleLabel: {-->
<!--                                display: true,-->
<!--                                labelString: 'Time'-->
<!--                            }-->
<!--                        }],-->
<!--                        yAxes: [{-->
<!--                            display: true,-->
<!--                            scaleLabel: {-->
<!--                                display: true,-->
<!--                                labelString: 'Value'-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                }-->
<!--            };-->

<!--            const context = document.getElementById('canvas').getContext('2d');-->

<!--            const lineChart = new Chart(context, config);-->

<!--            const source = new EventSource("/chart-data");-->

<!--            source.onmessage = function (event) {-->
<!--                const data = JSON.parse(event.data);-->
<!--                if (config.data.labels.length === 20) {-->
<!--                    config.data.labels.shift();-->
<!--                    config.data.datasets[0].data.shift();-->
<!--                }-->
<!--                config.data.labels.push(data.time);-->
<!--                config.data.datasets[0].data.push(data.value);-->
<!--                lineChart.update();-->
<!--            }-->
<!--        });-->
<!--    </script>-->

</body>
</html>